<div class="container mt-3">
    <div class="form-group" [formGroup]="formGroup">
        <label for="userName">Nombre de usuario:</label>
        <input type="text" class="form-control" id="userName" placeholder="Usuario" name="userName" [formControl]="userName">

        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" placeholder="Correo" name="email" [formControl]="email">

        <label for="pwd">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" placeholder="contraseña" name="pwd" [formControl]="password">

        <label for="cpwd">Repetir contraseña:</label>
        <input type="password" class="form-control" id="cpwd" placeholder="Repetir contraseña" name="cpwd" [formControl]="confirmPassword">

        <label for="phone">Teléfono:</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" [formControl]="phone">

        <label for="department">Cargo:</label>
        <select class="form-select" [formControl]="department">
            <option value="waiter" selected>Camarero</option>
            <option value="chef">Cocinero</option>
            <option value="admin">Administrador</option>
        </select>
        
        <div *ngIf="userName.errors && userName.touched" class="text-danger">
            El nombre de usuario es obligatorio.
        </div>

        <div *ngIf="email.errors && email.touched" class="text-danger">
            El correo electrónico es obligatorio, y debe de tener un formato de correo electrónico.
        </div>

        <div *ngIf="password.errors && password.touched" class="text-danger">
            La contraseña es obligatoria.
        </div>

        <div *ngIf="confirmPassword.errors && confirmPassword.touched" class="text-danger">
            Repite la contraseña.
        </div>

        <div *ngIf="phone.errors && phone.touched" class="text-danger">
            El teléfono es obligatorio.
        </div>

        <div *ngIf="department.errors && department.touched" class="text-danger">
            Selecciona un cargo.
        </div>

        <div *ngIf="formGroup.hasError('mismatch') && (formGroup.get('confirmPassword')?.dirty || formGroup.get('confirmPassword')?.touched)" class="text-danger">
            Las contraseñas no coinciden.
        </div>

        <div *ngIf="errorMsg" class="text-danger mt-3">
            <p>{{errorMsg}}</p>
        </div>

        <div class="mt-2">
            <button type="button" class="ms-1 btn btn-primary" (click)="signUp()" [disabled]="formGroup.invalid">Registrar empleado</button>
        </div>
    </div>
</div>