<div class="container">
    <div class="row mt-4">
        <div class="col-md-3" *ngFor="let order of orders">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title">Comanda {{order.getId()}}</h4>
                    <p class="card-text" *ngFor="let item of order.getItems()">{{item.getName()}} - {{item.getPrice()}}€</p>
                    <p class="card-text fw-bold">Total: {{order.getTotal()}}€</p>
                    <div *ngIf="user">
                        <button *ngIf="user.getDepartment() === 'admin' || user.getDepartment() === 'waiter'" class="btn btn-primary mb-1" [routerLink]="['/orders', order.getId()]">Modificar</button>
                        <div *ngIf="user.getDepartment() === 'admin' || user?.getDepartment() === 'chef'">
                            <button class="btn btn-success mt-1" *ngIf="!order.getCompleted()" (click)="completeOrder(order, true)">Completar comanda</button>
                            <button class="btn btn-danger mt-1" *ngIf="order.getCompleted()" (click)="completeOrder(order, false)">Incompletar comanda</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>